:root {
  --primary: #f23030;
  --secondary: #22242b;
  --grey-100: #6d6d6d;
  --grey-200: #f1f1f1;
  --dark: #14151a;
  --white: #fff;
  --tablet-up: 768px;
  --desktop: 1280px;
  --desktop-md: 1440px;
  --desktop-up: 1920px; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

ul {
  list-style: none;
}